.DraggableBarChart {

  .overlay, .selection, .handle--s {
    cursor: unset;
    //pointer-events: none;
  }

  .handle {
    opacity: 0;

    &.handle--n {
      cursor: grab;
    }
  }

  .bar:hover {
    .handle {
      opacity: 0.5;
    }
  }

  .showAnswer {
    * {
      pointer-events: none;
    }
  }
}