.DraggableBarChart {

  .overlay, .selection, .handle--s {
    cursor: unset;
    //pointer-events: none;
  }

  text, .handle-bar {
    pointer-events: none;
  }

  .handle--n {
      cursor: grab;
      transform: translate(0,-15px);
    }

  .bar {
    .handle-bar {
      opacity: 0;
    }
    &:hover {
      .handle-bar {
        opacity: 1;
      }
    }
  }

  .showAnswer {
    * {
      pointer-events: none;
    }
  }
}