.FarmsCountChart {
  position: relative;

  text {
    font-size: 12px;
  }

  .axis {
    .header {
      font-weight: bold;
      font-size: 14px;
      fill: black;
    }
    text {
      font-size: 11px;
    }
  }

  .legend {
    position: absolute;
    padding: 0.5em 1em;
    top: 2em;
    right: 4em;
    background-color: white;
    border: 1px solid black;
  }
}