.FarmsCountChart {
  position: relative;

  text {
    font-size: 12px;
  }

  .axis {
    .header {
      font-weight: bold;
      font-size: 14px;
      fill: currentColor;
    }
    text {
      font-size: 11px;
    }
  }
}