.Header {

  .horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > * {
      width: 33%;
    }

    &.top {
      align-items: baseline;
    }
    &.bottom {
      margin: 0.5em 0;
      justify-content: space-around;

      & > * {
        width: 30%;
      }
    }

    .relations-container {
      .cowImg {
        img {
          height: 20px;
        }
      }
      .wheatImg {
        img {
          height: 26px;
        }
      }

    }
  }
}