.Header {

  .horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > * {
      width: 33%;
    }

    &.top {
      align-items: baseline;
    }
    &.bottom {
      margin: 0.5em 0;
      justify-content: space-around;

      & > * {
        width: 30%;
      }
    }
  }

  .capacity-container {
    width: 80%;
    margin: auto;

    .relations-container {
      margin: 0.5em 0;
      .cowImg {
        img {
          height: 20px;
        }
      }
      .wheatImg {
        img {
          height: 26px;
        }
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
    i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px;

      &.up {
        transform: rotate(-135deg);
      }
    }

    .line {
      border-left: 3px solid black;
      height: 100px;
      width: 3px;
      transform: translateY(-10px);
    }
  }
}