.QuizPage {
  background-color: #dadad2;
  padding: 2em;
  align-self: center;
  width: 70%;
  min-width: 680px;
  min-height: 810px;

  .show {
    display: inline;
    transition: 400ms ease-in;
  }

  .hide {
    display: none;
    transition: 200ms ease-out;
  }
}