.QuizPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #dadad2;
  padding: 3em 3em 5em 3em;
  margin: 10em 0 6em;
  align-self: center;
  min-width: 840px;

  p {
    max-width: 600px;
  }

  .quizButton {
    width: 50%;
    height: 8em;
    transform: translateY(8em);
  }

  .toggle-container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    //align-items: center;

    button {
      height: 46px;
    }
    p {
      margin: 0;
    }

    .show {
      display: flex;
      transition: 400ms ease-in;
    }

    .hide {
      display: none;
      transition: 200ms ease-out;
    }
  }

  .fade-in {
    animation: fade-in 6s ease-in;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}