.App {
  text-align: center;

  // for page scroll container
  & > div > div > div {
    display: flex;
  }

  .page {
    max-width: 840px;
    border-radius: 1em;
    padding: 3em 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
