@import "variables";

@import "App";
@import "components/Introduction";
@import "components/FarmsCountStackedAreaChart";
@import "components/QuizPage";
@import "components/DraggableBarCharts";
@import "components/FarmsCountBarChart";
@import "components/Footer";
@import "components/AnimatedRelations";

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;

  h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 1em 0 1em;
  }

  h2 {
    font-size: 2em;
    margin: 2em 0 1em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0 1em;
  }

  p {
    max-width: 700px;
    margin: auto auto 1em;
  }

  .color-small {
    color: $clr_small;
  }
  .color-medium {
    color: $clr_medium;
  }
  .color-large {
    color: $clr_large;
  }

  .horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0;

    & > * {
      width: 32%;
    }

    &.larger > * {
      width: 40%;
    }

    p {
      margin-bottom: 0.5em;
    }

    &.top {
      align-items: baseline;
    }

    &.bottom {
      margin: 0.5em 0;
      justify-content: space-between;
    }
    &.centered {
      align-items: center;
    }
  }

  svg {
    text {
      font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;

      &.header {
        font-weight: bold;
        font-size: 18px;
        fill: currentColor;
      }

      &.header-small {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bolder;
      }

      .legend {
        text {
          font-size: 14px;
        }
      }
    }
  }
}
